@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Roboto:wght@300&display=swap');

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-position: 30%;
    width: 100%;
    height: 140vh;
}

#bg1 {
    z-index: -5;
    margin-left: 13em;
    position: absolute;
    height: 120vh;
    aspect-ratio: 9/6;
    margin-top: -8vh;
    
}



main {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

#sideBar {
    position: absolute;
    margin-left: -10px;
    margin-top: -18px;
    padding: 0;
    border-radius: 20px;
    height: 150vh;
    width: 20em;
    color: white;
    background-color: rgb(42, 45, 53);
}

#group {
    font-family: 'Inter', sans-serif;
    display: flex;
    border-radius: 35px;
    width: 19em;
    /*background-color: rgb(61, 63, 68);*/
    background-color: rgb(24, 25, 29);
    transition: 0.15s;
    cursor: pointer;
}

#group:hover {
    translate: 0px -2px;
    transition: 0.25s;
    transition-property: box-shadow;
    box-shadow: 1px 3px 10px rgb(240, 231, 231) ;
}


.groupImage {
    width: 52px;
    height: 52px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    border-radius: 50%; 
}

.groupName {
    font-size: 1.3rem;
    padding-top: 5px;
    height: 1.5em;
    width: 8em;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.lastMessage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transform: translateX(-10em);
    font-size: 0.8rem;
    padding-bottom: 8px;
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
}

#sideBar h1 {
    font-family: 'Inter', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 400;
}



#messages {
    height: 800px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.sender {
    padding-left: 5px;
    font-family: 'Inter', sans-serif;
    display: flex;
    color: white;
    
}

.content {
    width: 25em;
    background-color: rgb(39, 138, 163);
    height: fit-content;
    color: white;
    border-radius: 9px;
    padding: 10px;
    word-break: break-all;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    display: flex;
    margin-bottom: 30px;
}

footer {
    display: flex;
    justify-content: center;
}

#textInput {
    position: absolute;
    bottom: 15px;
    left: 29.2%;
    width: 40%;
    height: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 12px;
    border: 0;
    color: rgb(172, 167, 167);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    outline: none;
    background-color: rgb(42, 45, 53);
    transition: 0.4s;
    white-space: pre-wrap;
    max-height: 10vh;
}



#hiddenInput {
    display: none;
}

#sendBtn {
    position: absolute;
    bottom: 18px;
    left: 70.5%;
    width: 30px;
    height: 30px;
    transition: 0.2s;   
}

#sendBtn:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(196, 192, 192);
    border-radius: 50%;
}

#textInput:focus {
    outline: 2px solid  rgb(39, 138, 163);
}

#sendBtnInvisible {
    display: none;
}

@keyframes messageAppearing {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

.messageanim {
    animation: messageAppearing 0.3s linear;
}

@media only screen and (min-width:600px) and (max-width:1000px){
    #sideBar {
        display: none;
    }
    #bg1 {
        margin-left: 0;
        margin-left: -5em;
        aspect-ratio: 16/9;
    }
}

@media only screen and (max-width:600px) {
    #sideBar {
        display: none;
    }
    #bg1 {
        margin-left: 0;
        margin-left: -13em;
        aspect-ratio: 17/9; 
        overflow-x: hidden;
    }
    .content {
        width: 16em;
    }
    #sendBtn {
        left: 72%;
    }
}



